@font-face {
    font-family: "MyFont"; /* 사용할 글꼴 이름 지정 */
    src: url("../src/font/GenEiKoburiMin6-R.ttf") format("truetype"); /* 글꼴 파일의 경로와 포맷 지정 */
}
body {
    cursor: url("../src/images/jap_cursor.png"), auto;
    margin: 0;
    font-family: "MyFont", Arial, sans-serif;
    background-color: #f5f5dc;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.5) 1px,
            transparent 1px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
    background-size: 10px 10px;
    overflow-x: hidden;
    width: 100%;
    height: 1000px;
}
.content-wrapper {
    position: relative;
    z-index: 2;
}


.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2000px;
    font-size: 100px;
    color: #000000;
    user-select: none;
}

.letter {
    opacity: 0;
    writing-mode: vertical-rl;
    user-select: none;
}

.hiddenContent {
    position: relative;
    z-index: 1;
    visibility: hidden;
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 25px;
    top: 0; /* Y 좌표 */
    left: 0; /* X 좌표 */
    height: 400%;
    width: 100%; /* 너비 조절 */
    /* background: white; */
    color: #999999;
    user-select: none;
}

.lines {
    opacity: 0;
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 20px;
    height: 1000px; /* 높이 조절 */
    width: 10px; /* 너비 조절 */
    user-select: none;
}

.vertical-text1 {
    top: 700px; /* Y 좌표 */
    left: 20%; /* X 좌표 */
}
.vertical-text2 {
    top: 800px;
    left: 73%;
}
.vertical-text3 {
    top: 900px;
    left: 38%;
}
.vertical-text4 {
    top: 1000px;
    left: 63%;
}
.vertical-text5 {
    top: 1100px;
    left: 30%;
}
.vertical-text6 {
    top: 1200px;
    left: 58%;
}
.vertical-text7 {
    opacity: 0;
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 30px;
    height: 1000px; /* 높이 조절 */
    width: 10px; /* 너비 조절 */
    user-select: none;
    top: 1370px;
    left: 50.5%;
}
.vertical-text8 {
    opacity: 0;
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 30px;
    height: 1000px; /* 높이 조절 */
    width: 10px; /* 너비 조절 */
    user-select: none;
    top: 1370px;
    left: 51.75%;
}

.click-effect {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: animateEffect 0.6s ease-out forwards;
    pointer-events: none; /* 클릭 이벤트 방지 */
}

@keyframes animateEffect {
    to {
        transform: scale(1);
        opacity: 0;
    }
}

#changeSceneBtn {
    cursor: url('../src/images/home_cursor.png'),auto;
    font-family: "MyFont", Arial, sans-serif;
    background: none;
    border: 3px solid #000000;
    border-radius: 100px;
    color: #000000;
    display: block;
    font-size: 35px;
    font-weight: bold;
    /* margin: 1em auto; */
    width: 60px;
    height: 180px;
    position: fixed;
    text-transform: uppercase;
    z-index: 2;
    transform: translateY(-50%);
    top: 50%;
    left: 3%;
}

.inpage{
    background: #101010;
}

#changeSceneBtn::before,
#changeSceneBtn::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    background: #000000;
    border-radius:100px;
    content: '';
    position: absolute;
    z-index: -1;
}

#changeSceneBtn:hover {
    color: #FFFFFF;
}

#changeSceneBtn::after {
    height: 0%;
    left: 50%;
    top: 50%;
    width: 0%;
}

#changeSceneBtn:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}